<%= form_with(model: entry, local: true) do |f| %>
    <div>
        <%= f.label :titulo %>
        <%= f.text_field :title %>
    </div>
    <br>
    <div>
        <%= f.label :contenido %>
        <%= f.text_area :content %>
    </div>
    <br>
    <div>
        <%= f.label :imagen %>
        <%= f.text_area :image_url %>
    </div>
    <br>
    <div>
        <%= f.label :estado %>
        <%= f.select :status, options_for_select(['en curso', 'cerrada']) %>
    </div>
    <br>
    <div>
        <%= f.submit 'Guardar'%>
    </div>
<%end%>